# -----------------------------
# Python
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
env/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Terraform
# -----------------------------
.terraform/
terraform.tfstate
terraform.tfstate.backup
*.tfvars

# -----------------------------
# Kubernetes
# -----------------------------
*.kubeconfig
kubeconfig

# -----------------------------
# Docker
# -----------------------------
*.log
docker-compose.override.yml

# -----------------------------
# Secrets / Credentials
# -----------------------------
secrets.yml
*.pem
*.key
*.crt

# -----------------------------
# IDE files
# -----------------------------
.vscode/
.idea/

# -----------------------------
# Mac
# -----------------------------
.DS_Store

# -----------------------------
# Node (if used later)
# -----------------------------
node_modules/